.heading {
  font-size: 3.75rem;
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
  animation: pulse 2.5s;
}

@keyframes pulse {
  0% {
    color: #ffffff;
  }
  100% {
    color: #666666;
  }
}

.contact-social {
  margin: 2rem 0;
}

.social-item {
  margin-top: 0.5rem;
}

.social-item:hover,
.social-icon:hover {
  font-size: 105%;
  transition-property: font-size;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.social-icon {
  margin-right: 1rem;
}

.social-text {
  color: #3f51b6;
  font-weight: 500;
}

@media only screen and (min-width: 640px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-layout {
    display: flex;
    align-items: baseline;
  }

  .heading {
    font-size: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }

  .contact-social {
    width: 50%;
  }

  .contact-form {
    width: 50%;
    margin-left: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
